<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<table border="1">
		<tr>
			<td>번호</td>
			<td>[[${dto.bno}]]</td>
		</tr>
		<tr>
			<td>작성자</td>
			<td>[[${dto.writer}]]</td>
		</tr>
		<tr>
			<td>작성일자</td>
			<td>[[${dto.regdate}]]</td>
		</tr>
		<tr>
			<td>제목</td>
			<td>[[${dto.title}]]</td>
		</tr>
		<tr>
			<td>내용</td>
			<td>[[${dto.content}]]</td>
		</tr>
		<tr>
			<td colspan="2"><a th:href="@{/delete(bno=${dto.bno})}">삭제</a> </td>
		</tr>
		
	</table>

</body>

</html>