<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
</head>
<body>
<h1>index3</h1>
<h2>메모 저장하기 </h2>
<input type="text" name="title" placeholder="Input title...."><br>
<input type="text" name="content" placeholder="Input content...."><br>
<input type="text" name="writer" placeholder="Input writer...."><br>
<button onclick= "postMemo()">Memo 저장하기 </button>
<div id="result_post"></div>


<hr>
<h2>메모 조회하기</h2>
<input type="text" name="mno" placeholder="Input mno...."><br>
<button onclick= "getMemo()">Memo 조회하기 </button>
<div id="result_get"></div>
<hr>
<h2>메모 수정하기</h2>
<input type="text" name="mno2" placeholder="Input mno...."><br>
<input type="text" name="title2" placeholder="Input title...."><br>
<input type="text" name="content2" placeholder="Input content...."><br>
<input type="text" name="writer2" placeholder="Input writer...."><br>
<button onclick= "putMemo()">Memo 수정하기 </button>
<div id="result_put"></div>

<hr>
<h2>메모 삭제하기</h2>
<input type="text" name="mno3" placeholder="Input mno...."><br>
<button onclick= "deleteMemo()">Memo 삭제하기 </button>
<div id="result_delete"></div>

<script>
function postMemo(){
	const title_ = document.querySelector("input[name='title']");
	const content_ = document.querySelector("input[name='content']");
	const writer_ = document.querySelector("input[name='writer']");
	//가져온 입력데이터를 객체로 만들기 -->JSON으로 변경하여 서버에 전송하기 위해서.
	const memo={
			title : title_.value,
			content : content_.value,
			writer : writer_.value
	}	
	//객체를 JSON으로 변경하기
	const sendData = JSON.stringify(memo);
	
	fetch("/memoapp/memo",{					//접속경로
		method: "post",
		headers: {
			"Content-type" : "application/json"
		},
		body: sendData
	})
	.then(response =>response.text())
	.then(data => document.getElementById("result_post").innerHTML = data )
	.catch(error => document.getElementById("result_post").innerHTML = error);
	
	
	/*
	//입력 양식에 적힌 데이터 가져오기
	
	
		
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {	//서버가 등록처리 후 결과 데이터를 보내주면 reponseText로 받는다.
		document.getElementById("result_post").innerHTML = this.responseText;
	}
	xhttp.open("post", "/memoapp/memo", true);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(sendData);
	*/
}
function getMemo(){
	//DB에서 검색할 때 사용할 텍스트박스
	const mno_ = document.querySelector("input[name='mno']");
	//수정하기 위해 필요한 입력양식 식별하기(여기에 응답을 집어넣음)
	const mno2_ =document.querySelector("input[name='mno2']");
	const title_ = document.querySelector("input[name='title2']");
	const content_ = document.querySelector("input[name='content2']");
	const writer_ = document.querySelector("input[name='writer2']");

	fetch("/memoapp/memo?mno="+ mno_.value,{
		method: "get"
	})
	.then(response => response.text())
	.then(data => {
		const obj = JSON.parse(data);
		document.getElementById("result_get").innerHTML = data;
		
		mno2_.value = obj.mno;
		title_.value = obj.title;
		content_.value = obj.content;
		writer_.value = obj.writer;
	})
	.catch();
	/*
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {	//서버가 등록처리 후 결과 데이터를 보내주면 reponseText로 받는다.
		document.getElementById("result_get").innerHTML = this.responseText;
		const obj = JSON.parse(this.responseText);
		mno2_.value = obj.mno;
		title_.value = obj.title;
		content_.value = obj.content;
		writer_.value = obj.writer;
	
	}
	xhttp.open("get", "/memoapp/memo?mno=" + mno_.value, true);
	//xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send();
	*/
};
function putMemo(){
	//입력 양식에 적힌 데이터 가져오기
	const mno_ = document.querySelector("input[name='mno2']");
	const title_ = document.querySelector("input[name='title2']");
	const content_ = document.querySelector("input[name='content2']");
	const writer_ = document.querySelector("input[name='writer2']");
	//가져온 입력데이터를 객체로 만들기 -->JSON으로 변경하여 서버에 전송하기 위해서.
	const memo={
			mno : mno_.value,
			title : title_.value,
			content : content_.value,
			writer : writer_.value
	}
	//객체를 JSON으로 변경하기
	const sendData = JSON.stringify(memo);	
	fetch("/memoapp/memo",{
		method:"put",
		headers:{
			"Content-Type" : "application/json"
		},
		body:sendData
	})
	.then(response =>response.text())
	.then(data => document.getElementById("result_put").innerHTML =data)
	.catch();
	/*
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {	//서버가 등록처리 후 결과 데이터를 보내주면 reponseText로 받는다.
		document.getElementById("result_put").innerHTML = this.responseText;
	}
	xhttp.open("put", "/memoapp/memo", true);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(sendData);
	*/
}

function deleteMemo(){
	const mno_ = document.querySelector("input[name='mno3']");
	
	fetch("/memoapp/memo/"+ mno_.value,{
		method: "delete"
	})
	.then(response => response.text())
	.then(data => {
		
		document.getElementById("result_delete").innerHTML = data;
		
		
	})
	.catch();
	
	/*
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {	//서버가 등록처리 후 결과 데이터를 보내주면 reponseText로 받는다.
		document.getElementById("result_delete").innerHTML = this.responseText;
	}
	xhttp.open("delete", "/memoapp/memo/" + mno_.value, true);
	//xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.send();
	*/
}

</script>
</body>
</html>