<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>regist board form</h1>
<hr>
<div>
	<form action="/member/regBoardProc" method="post" encType="multipart/form-data">
		<input type="text" name="title" placeholder="input title...."><br>
		<input type="text" name="content" placeholder="input content...."><br>
		<input type="text" name="writer" placeholder="input writer...."><br>
		<input type="file" name="file"><br>
		<input type="submit" value="게시물 등록">
	</form>
</div>
</body>
</html>