<!DOCTYPE html>
       <html lang="en" xmlns:th="http://www.thymeleaf.org">

       <head>
           <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <title>Document</title>
       </head>
       <body>
          <h1>EX02-List page</h1>
		  <hr>
		  <ul>
			<li th:each="dto, status : ${list}">
				<span th:if="${status.count % 2 ==0}" th:text="${'----------'+status.count}"></span>
				<span th:unless="${status.count %2 ==0}"  th:text="${dto.name}"></span>
			</li>
		  </ul>
       </body>

       </html>